@model RXGOADMIN.Models.AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

@*<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: Rxgo/Admin Login ::</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin_assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin_assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/admin_assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/admin_assets/css/style.css">
    <link rel="shortcut icon" href="~/admin_assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        @if (TempData["MSG"] != null)
                        {
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <strong>@TempData["MSG"]</strong>
                            </div>
                        }
                        <h2 class="text-center mb-4">Admin Login</h2>
                        <div class="auto-form-wrapper">
                            @using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post, new { @class = "form-sample", enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email Id", @required = "required", @class = "form-control", @type = "email" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Password, new { @placeholder = "Password", @required = "required", @class = "form-control", @type = "password" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary submit-btn btn-block">Login</button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="~/admin_assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/admin_assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/admin_assets/js/off-canvas.js"></script>
    <script src="~/admin_assets/js/misc.js"></script>
    <script src="~/admin_assets/js/dashboard.js"></script>
</body>
</html>*@

<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/assets/images/favicon.png">
    <title>:: Rxgo/Login ::</title>
    <!-- Custom CSS -->
    <link href="~/Assets/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div id="loginform">
                    <div class="text-center p-t-20 p-b-20">
                        @*<span class="db">
                            <img src="~/Assets/assets/images/logo.png" alt="logo" />
                            </span>*@
                        <h2 style="color:#fff">
                            LOGO
                        </h2>
                    </div>
                    <!-- Form -->
                    @using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post, new { @class = "form-horizontal m-t-20", @id = "loginform", enctype = "multipart/form-data" }))
                    {
                        @*<form class="form-horizontal m-t-20" id="loginform" action="index.html">*@
                        <div class="row p-b-30">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email Id", @required = "required", @class = "form-control form-control-lg", @type = "email" })


                                    @*<input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="">*@
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "Password", @required = "required", @class = "form-control form-control-lg", @type = "password" })

                                    @*<input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required="">*@
                                </div>
                            </div>
                        </div>
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20">
                                        <button class="btn btn-info" id="to-recover" type="button"><i class="fa fa-lock m-r-5"></i> Lost password?</button>
                                        <button class="btn btn-success float-right" type="submit">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div id="recoverform">
                    <div class="text-center">
                        <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
                    </div>
                    <div class="row m-t-20">
                        <!-- Form -->
                        <form class="col-12" action="#">
                            <!-- email -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-20 p-t-20 border-top border-secondary">
                                <div class="col-12">
                                    <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                                    <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/Assets/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Assets/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>

        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function () {

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>

</body>

</html>