@model RXGOADMIN.Models.ChargeCategory

@{
    ViewBag.Title = "Edit Charge Category";
    var info = Model;
}

<link rel="icon" type="image/png" sizes="16x16" href="~/Assets/assets/images/favicon.png">
<title>RXGO ADMIN</title>
<!-- Custom CSS -->
<link href="~/Assets/assets/libs/flot/css/float-chart.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/Assets/dist/css/style.min.css" rel="stylesheet">
<link href="~/Assets/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- The Modal -->
<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Edit Category</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
    <div class="page-breadcrumb">
        <div class="card">
            @using (Html.BeginForm("ChargeCategory", "Operation", FormMethod.Post, new { @class = "form-sample" }))
            {
                <div class="card-body">
                    <div class="row">
                        @Html.HiddenFor(model => model.CategoryId)

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Charge Name
                                </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ChargeName, new { @placeholder = "Charge Name", @required = "required", @class = "form-control", @type = "text", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Code
                                </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Code, new { @placeholder = "Code", @required = "required", @class = "form-control", @type = "text", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Standard Charge
                                </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.StandardCharge, new { @placeholder = "Standard Charge", @required = "required", @class = "form-control", @type = "text", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Applied Charge
                                </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.AppliedCharge, new { @placeholder = "Applied Charge", @required = "required", @class = "form-control", @type = "text", @maxlength = "100" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

</div>

<script src="~/Assets/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Assets/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/Assets/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Assets/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Assets/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/Assets/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Assets/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/Assets/dist/js/custom.min.js"></script>

